.options .team-input, .options .player-input {
  margin:10px;
  width:20%;
}

.bold {
    font-style:none;
    font-weight:bold;
    background-color: lightgray;
    width: 65%;
}

.scrollable {
  height: 500px;
  overflow-y: auto;
}

.game-list-container, .game-single-container {
  margin-left: 20px !important;
}

.game-single-container {
  margin-top: 55px;
}

.categories {
  border-top: 1pt solid gray;
  border-bottom: 1pt solid gray;
}