<div class="row">
  <div class="game-list-container col s4">
    <h4 ng-show="show_team_bool">Team: {{team}}</h4>
    <ul class="scrollable">
      <li ng-click="gameDetails(game, {$index})" ng-repeat="game in single_game_data">
        <div id="{{$index}}">
          <div>Date: {{game.data[0].date}}</div>
          <div>Versus: {{displayOpponent(game)}}</div>
        </div>
        <br>
      </li>
    </ul>
  </div>

  <div class="game-single-container col s4" ng-show="show_game_bool">
    <ul>
      <game-single-info></game-single-info>
    </ul>
  </div>

  <div class="roster-container col s4" ng-show="show_roster_bool">
    <ul>
      <team-roster></team-roster>
    </ul>
  </div>
</div>