<div class="row">
  <div class="game-list-container col s3">
    <h4 ng-show="show_team_bool">Team: {{teamName}}</h4>
    <h5>Games</h5>
    <ul class="scrollable">
      <li ng-click="gameDetails(game, {$index})" ng-repeat="game in game_headers">
        <div id="{{$index}}">
          <div>Date: {{game.data[0].date}}</div>
          <div>{{displayOpponent(game)}}</div>
        </div>
        <br>
      </li>
    </ul>
  </div>

  <div class="game-single-container col s7" ng-show="show_game_bool">
    <h5 class="col s12">Box Score</h5>
    <game-single-info></game-single-info>
    <team-roster></team-roster>
  </div>
</div>