<div class="row">
  <div class="player-list-container col s3">
    <h4 ng-show="show_player_bool">Player: {{playerName}}</h4>
      <ul>
        <li ng-click="playerDetails(player,{$index})" ng-repeat="player in player_data">
          <img ng-src="{{player.pic}}"/>
          <div class="name" id="{{$index}}">{{player.player_name}}</div>
          <br>
        </li>
      </ul>
    </div>

    <div class="game-single-container col s7" ng-show="show_player_bool">
      <h5 class="col s12">Box Score</h5>
      <game-player-info></game-player-info>
    </div>


  </div>
</div>